---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>
        <h1>Ueber mich</h1>
        <h2>... und meine neue Astro Website</h2>

        <p>Ich arbeite mich durch das Astro Einfuehrungs-Tutorial. Dies ist die zweite Seite auf meiner Website</p>

        <p>Diese Seite wird sich entwickeln mit meinem Fortschritt im Tutorial</p>

		<p>Frankreich ich komme</p>

		<p>Paris, Athen auf wiedersehen</p>
	</body>
</html>
