---
import '../styles/global.css';
import Footer from '../Components/Footer.astro';
import Header from '../Components/Header.astro';
---

<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>Astro-Blog</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>

        <h1>Mein Astro Blog</h1>
        <p>Hier werde Ich über meinen Lernfortschritt in Astro berichten</p>
        <ul>
            <li><a href="/posts/post-1/">Post1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
            <Header />
        </ul>
        <Footer />
    </body>
</html>